[game]
debug = false
initmodesonstart = false
usetensorflow = False
inputMode = picade
os = picade

[drone]
speed = 30
networkName = TELLO-5CD951
networkPwd = 

[objectTracking]
trackingcolorrgb = 147 121 10
trackingcolorh = 0 64
trackingcolors = 198 255
trackingcolorv = 107 187
mintrackingarea = 9000
threshold1 = 165
threshold2 = 170
centerzone = 100

[faceTracking]
model = resources\faceDetection\mod02-it1\model.pb
labels = resources\faceDetection\mod02-it1\labels.txt
minscore = 0.2
maxsize = 150000

[gestureRecognition]
modeldir = resources\gestureRecognition\lobe02
minscore = 0.5

